<%= render "hero_section" %>

<%= render "section_separator" %>

<%= render "section", title: "Recent Events" do %>
  <%= render "events/list", events: @recent_events %>

  <div class="flex flex-col sm:flex-row">
    <%= primary_button events_path do %>
      View all past events
    <% end %>
  </div>
<% end %>
