<section id="events">
  <h2>Events</h2>

  <% @events.each do |event| %>
    <article class="event">
      <header>
        <h3>
          <%= event.human_date %> in <%= event.venue.name %> at <time><%= event.human_time %></time>
        </h3>
      </header>

      <p><%= event.description %></p>

      <footer>
        <address><%= event.venue.address %></address>
      </footer>
    </article>
  <% end %>
</section>
