<% e = EventInfo.new(event) %>

<% title e.human_date %>

<%= render 'events/ogp', e: e %>

<%= render jobs, highlight: true if e.upcoming? %>

<article class="event">
  <h1 class="<%= :upcoming if e.upcoming? %>">
    <%= e.human_date %>
    <%= " (IN #{time_ago_in_words(e.time)})" if e.upcoming? %>
  </h1>

  <%= render_markdown e.description %>

  <% if e.talks.present? %>
    <h2>Talks</h2>

    <%= render e.talks %>
  <% end %>

  <h2><%= e.venue %> at <time><%= e.human_time %></time></h2>

  <% if e.venue_directions.present? %>
    <p><%= e.venue_directions %></p>
  <% end %>

  <%= map_tag event %>
  <address><%= e.address %></address>

  <% if e.links? %>
    <h2>Links</h2>

    <ul>
      <% if e.meetup_url.present? %>
        <li><%= link_to 'Meetup', e.meetup_url %></li>
      <% end %>

      <% if e.facebook_url.present? %>
        <li><%= link_to 'Facebook', e.facebook_url %></li>
      <% end %>
    </ul>
  <% end %>
</article>
