<% e = EventInfo.new(event) %>

<%= render 'events/ogp', e: e %>

<article class="event">
  <%= link_to root_path do %>
    <h1>
      <%= e.human_date %>
      <%= upcoming_event_badge e %>
    </h1>
  <% end %>

  <%= render_markdown e.description %>

  <% if e.talks.present? %>
    <h2>Talks</h2>

    <%= render e.talks %>
  <% end %>

  <h2><%= e.venue %> at <time><%= e.human_time %></time></h2>

  <%= map_tag event %>
  <address><%= e.address %></address>
</article>
