<% e = EventInfo.new(event) %>

<article class="event">
  <%= link_to root_path do %>
    <h1><%= e.human_date %> </h1>
  <% end %>

  <p><%= render_markdown e.description %></p>

  <% if e.talks.present? %>
    <h2>Talks</h2>

    <%= render e.talks %>
  <% end %>

  <h2><%= e.venue %> at <time><%= e.human_time %></time></h2>

  <%= map_tag event %>
  <address><%= e.address %></address>
</article>
