<% e = EventInfo.new(event) %>

<article class="event">
  <header>
    <h3>
      <%= e.human_date %> in <%= e.venue %> at <time><%= e.human_time %></time>
    </h3>
  </header>

  <p><%= e.description %></p>

  <footer>
    <address><%= e.address %></address>
  </footer>
</article>
