<% e = EventDetails.new(event) %>

<article class="event listing <%= :upcoming if e.upcoming? && jobs.blank? %>">
  <%= link_to e do %>
    <h2><%= e.title %></h2>

    <time datetime="<%= e.time.iso8601 %>"><%= e.human_datetime %></time>
  <% end %>

  <%= render_markdown e.summary %>
</article>
