<% e = EventInfo.new(event) %>

<article class="event">
  <%= link_to e do %>
    <h2>
      <%= e.human_date %> in <%= e.venue %>
      <%= upcoming_event_badge e %>
    </h2>
  <% end %>

  <%= render_markdown e.description %>
</article>
