<div class="grid grid-cols-3 items-baseline font-mono">
  <div class="justify-self-start">
    <% if pagination.prev_year %>
      <%= secondary_button events_year_path(year: pagination.prev_year), data: { turbo_frame: "_self" } do %>
        <span class="font-sans">&lt;-</span>
        <%= pagination.prev_year %>
      <% end %>
    <% end %>
  </div>

  <div class="justify-self-center">
    <span class="text-2xl font-semibold">
      <%= pagination.year %>
    </span>
  </div>

  <div class="justify-self-end">
    <% if pagination.next_year %>
      <%= secondary_button events_year_path(year: pagination.next_year), data: { turbo_frame: "_self" } do %>
        <%= pagination.next_year %>
        <span class="font-sans">-&gt;</span>
      <% end %>
    <% end %>
  </div>
</div>
