<% event = EventDetails.new(@event) %>
<% bg_head, ring_head, bg_footer = event_card_colors(event.id) %>

<%= link_to event_path(event.id), class: "
    block
    bg-white
    border-2
    border-black
    rounded-md
    overflow-hidden
    transition
    ease-in-out
    hover:shadow-brutal
    hover:-translate-x-1
    hover:-translate-y-1
    my-16
  " do %>
  <div
    class="
      border-b-2
      border-black
      self-stretch
      px-6
      py-5
      flex
      items-center
      justify-between
      <%= bg_head %>
    "
  >
    <div>
      <div class="flex items-center gap-2">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 20 20"
          fill="currentColor"
          class="w-5 h-5"
        >
          <path
            d="M5.25 12a.75.75 0 01.75-.75h.01a.75.75 0 01.75.75v.01a.75.75 0 01-.75.75H6a.75.75 0 01-.75-.75V12zM6 13.25a.75.75 0 00-.75.75v.01c0 .414.336.75.75.75h.01a.75.75 0 00.75-.75V14a.75.75 0 00-.75-.75H6zM7.25 12a.75.75 0 01.75-.75h.01a.75.75 0 01.75.75v.01a.75.75 0 01-.75.75H8a.75.75 0 01-.75-.75V12zM8 13.25a.75.75 0 00-.75.75v.01c0 .414.336.75.75.75h.01a.75.75 0 00.75-.75V14a.75.75 0 00-.75-.75H8zM9.25 10a.75.75 0 01.75-.75h.01a.75.75 0 01.75.75v.01a.75.75 0 01-.75.75H10a.75.75 0 01-.75-.75V10zM10 11.25a.75.75 0 00-.75.75v.01c0 .414.336.75.75.75h.01a.75.75 0 00.75-.75V12a.75.75 0 00-.75-.75H10zM9.25 14a.75.75 0 01.75-.75h.01a.75.75 0 01.75.75v.01a.75.75 0 01-.75.75H10a.75.75 0 01-.75-.75V14zM12 9.25a.75.75 0 00-.75.75v.01c0 .414.336.75.75.75h.01a.75.75 0 00.75-.75V10a.75.75 0 00-.75-.75H12zM11.25 12a.75.75 0 01.75-.75h.01a.75.75 0 01.75.75v.01a.75.75 0 01-.75.75H12a.75.75 0 01-.75-.75V12zM12 13.25a.75.75 0 00-.75.75v.01c0 .414.336.75.75.75h.01a.75.75 0 00.75-.75V14a.75.75 0 00-.75-.75H12zM13.25 10a.75.75 0 01.75-.75h.01a.75.75 0 01.75.75v.01a.75.75 0 01-.75.75H14a.75.75 0 01-.75-.75V10zM14 11.25a.75.75 0 00-.75.75v.01c0 .414.336.75.75.75h.01a.75.75 0 00.75-.75V12a.75.75 0 00-.75-.75H14z"
          />
          <path
            fill-rule="evenodd"
            d="M5.75 2a.75.75 0 01.75.75V4h7V2.75a.75.75 0 011.5 0V4h.25A2.75 2.75 0 0118 6.75v8.5A2.75 2.75 0 0115.25 18H4.75A2.75 2.75 0 012 15.25v-8.5A2.75 2.75 0 014.75 4H5V2.75A.75.75 0 015.75 2zm-1 5.5c-.69 0-1.25.56-1.25 1.25v6.5c0 .69.56 1.25 1.25 1.25h10.5c.69 0 1.25-.56 1.25-1.25v-6.5c0-.69-.56-1.25-1.25-1.25H4.75z"
            clip-rule="evenodd"
          />
        </svg>

        <div class="text-sm font-mono">
          <time datetime="<%= event.time.iso8601 %>" class="sm:hidden">
            <%= event.human_datetime(:short) %>
          </time>
          <time datetime="<%= event.time.iso8601 %>" class="hidden sm:inline">
            <%= event.human_datetime %>
          </time>
        </div>
      </div>

      <div class="flex items-center gap-2 mt-2">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 20 20"
          fill="currentColor"
          class="w-5 h-5"
        >
          <path
            fill-rule="evenodd"
            d="M9.69 18.933l.003.001C9.89 19.02 10 19 10 19s.11.02.308-.066l.002-.001.006-.003.018-.008a5.741 5.741 0 00.281-.14c.186-.096.446-.24.757-.433.62-.384 1.445-.966 2.274-1.765C15.302 14.988 17 12.493 17 9A7 7 0 103 9c0 3.492 1.698 5.988 3.355 7.584a13.731 13.731 0 002.273 1.765 11.842 11.842 0 00.976.544l.062.029.018.008.006.003zM10 11.25a2.25 2.25 0 100-4.5 2.25 2.25 0 000 4.5z"
            clip-rule="evenodd"
          />
        </svg>
        <span class="text-sm font-mono"><%= event.venue.name %></span>
      </div>
    </div>

    <div class="flex items-center -space-x-2">
      <% event.talks.flat_map(&:speakers).each do |speaker| %>
        <div class="shrink-0 sm:-my-2 transition-all ease-in-out group">
          <div
            class="<%= "bg-white w-10 h-10 sm:w-14 sm:h-14 rounded-full overflow-hidden border border-black ring-2 #{ring_head}" %>"
          >
            <%= render "speakers/avatar", speaker: speaker %>
          </div>
        </div>
      <% end %>
    </div>
  </div>

  <div class="px-6 py-5 space-y-8">
    <% if event.talks.present? %>
      <%= render event.talks %>
    <% else %>
      <% talk = event.talks.build(title: event.title, description: event.summary) %>
      <%= render talk %>
    <% end %>

    <div class="hidden font-medium">Read more -&gt;</div>
  </div>

  <div class="font-medium px-6 py-5 border-t border-black <%= bg_footer %>">
    <div class="shrink-0">
      <div class="flex items-center gap-3">
        <%= render "logo_icon", classes: "w-12 h-12" %>
        <%= image_tag "logo-text.svg", class: "mt-1 h-6 w-auto", alt: "Ruby Banitsa logo text" %>
      </div>
    </div>
  </div>
<% end %>
