<div class="pt-16">
  <%= render "container" do %>
    <div class="flex items-center justify-between">
      <div class="group">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 512" class="
          w-8
          h-6
          transition-transform
          origin-bottom-left
          ease-in-out
          group-hover:-rotate-45
          group-hover:translate-y-1
        ">
        <path
          d="M400 96a48 48 0 1 0 0-96 48 48 0 1 0 0 96zm27.2 64l-61.8-48.8c-17.3-13.6-41.7-13.8-59.1-.3l-83.1 64.2c-30.7 23.8-28.5 70.8 4.3 91.6L288 305.1V416c0 17.7 14.3 32 32 32s32-14.3 32-32V288c0-10.7-5.3-20.7-14.2-26.6L295 232.9l60.3-48.5L396 217c5.7 4.5 12.7 7 20 7h64c17.7 0 32-14.3 32-32s-14.3-32-32-32H427.2zM56 384a72 72 0 1 1 144 0A72 72 0 1 1 56 384zm200 0A128 128 0 1 0 0 384a128 128 0 1 0 256 0zm184 0a72 72 0 1 1 144 0 72 72 0 1 1 -144 0zm200 0a128 128 0 1 0 -256 0 128 128 0 1 0 256 0z"
        />
      </svg>
      </div>
      <div class="text-xs whitespace-nowrap text-black/75">
        <span>Designed by</span>
        <a
          href="https://rubylift.com/?utm_source=rubybanitsa&utm_medium=organic_social&utm_campaign=rubybanitsa"
          target="_blank"
          class="font-semibold hover:text-black hover:underline"
        >
          Ruby Lift
        </a>
      </div>
    </div>
  <% end %>
</div>

<footer class="py-16 bg-black text-white">
  <%= render "container" do %>
    <div
      class="
        flex
        flex-wrap
        flex-col
        sm:flex-row
        sm:justify-between
        items-center
        gap-12
      "
    >
      <div class="flex items-center gap-2">
        <%= render "logo_icon", classes: "w-9 h-9 text-white" %>
        <p class="whitespace-nowrap">
          Try some <%= link_primary "Banitsa", "https://en.wikipedia.org/wiki/Banitsa" %>
          at <%= link_primary "Balkan Ruby", "https://balkanruby.com" %>.
        </p>
      </div>
      <div class="flex items-center flex-wrap gap-10">
        <%= social_link slack_url, aria: {label: "Slack"} do %>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 24 24"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="w-6 h-6 fill-current"
          >
            <path
              d="M14.5 10c-.83 0-1.5-.67-1.5-1.5v-5c0-.83.67-1.5 1.5-1.5s1.5.67 1.5 1.5v5c0 .83-.67 1.5-1.5 1.5z"
            ></path>
            <path d="M20.5 10H19V8.5c0-.83.67-1.5 1.5-1.5s1.5.67 1.5 1.5-.67 1.5-1.5 1.5z"></path>
            <path
              d="M9.5 14c.83 0 1.5.67 1.5 1.5v5c0 .83-.67 1.5-1.5 1.5S8 21.33 8 20.5v-5c0-.83.67-1.5 1.5-1.5z"
            ></path>
            <path d="M3.5 14H5v1.5c0 .83-.67 1.5-1.5 1.5S2 16.33 2 15.5 2.67 14 3.5 14z"></path>
            <path
              d="M14 14.5c0-.83.67-1.5 1.5-1.5h5c.83 0 1.5.67 1.5 1.5s-.67 1.5-1.5 1.5h-5c-.83 0-1.5-.67-1.5-1.5z"
            ></path>
            <path d="M15.5 19H14v1.5c0 .83.67 1.5 1.5 1.5s1.5-.67 1.5-1.5-.67-1.5-1.5-1.5z"></path>
            <path
              d="M10 9.5C10 8.67 9.33 8 8.5 8h-5C2.67 8 2 8.67 2 9.5S2.67 11 3.5 11h5c.83 0 1.5-.67 1.5-1.5z"
            ></path>
            <path d="M8.5 5H10V3.5C10 2.67 9.33 2 8.5 2S7 2.67 7 3.5 7.67 5 8.5 5z"></path>
          </svg>
        <% end %>

        <%= social_link twitter_url, aria: {label: "Twitter"} do %>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 24 24"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="w-6 h-6 fill-current"
          >
            <path
              d="M23 3a10.9 10.9 0 0 1-3.14 1.53 4.48 4.48 0 0 0-7.86 3v1A10.66 10.66 0 0 1 3 4s-4 9 5 13a11.64 11.64 0 0 1-7 2c9 5 20 0 20-11.5a4.5 4.5 0 0 0-.08-.83A7.72 7.72 0 0 0 23 3z"
            ></path>
          </svg>
        <% end %>

        <%= social_link facebook_url, aria: {label: "Facebook"} do %>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 24 24"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="w-6 h-6 fill-current"
          >
            <path d="M18 2h-3a5 5 0 0 0-5 5v3H7v4h3v8h4v-8h3l1-4h-4V7a1 1 0 0 1 1-1h3z"></path>
          </svg>
        <% end %>

        <%= social_link youtube_url, aria: {label: "YouTube"} do %>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 24 24"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="w-6 h-6 fill-current"
          >
            <path
              d="M22.54 6.42a2.78 2.78 0 0 0-1.94-2C18.88 4 12 4 12 4s-6.88 0-8.6.46a2.78 2.78 0 0 0-1.94 2A29 29 0 0 0 1 11.75a29 29 0 0 0 .46 5.33A2.78 2.78 0 0 0 3.4 19c1.72.46 8.6.46 8.6.46s6.88 0 8.6-.46a2.78 2.78 0 0 0 1.94-2 29 29 0 0 0 .46-5.25 29 29 0 0 0-.46-5.33z"
            ></path>
            <polygon
              class="fill-black stroke-black"
              points="9.75 15.02 15.5 11.75 9.75 8.48 9.75 15.02"
            ></polygon>
          </svg>
        <% end %>
      </div>
    </div>

    <div class='flex flex-wrap flex-col sm:flex-row sm:justify-between items-center gap-3 mt-6'>
      <p class="text-sm text-white/70">
        Ruby Banitsa is
        <%= link_to neuvents_url, class: "link-secondary", aria: { label: "Neuvents" } do %>
          <svg viewBox="0 0 53 75" class="w-5 mx-1 inline" xmlns="http://www.w3.org/2000/svg">
            <path
              d="m48.9033181 29.0306593c0 .3554162-.2882458.6430099-.6436621.6430099h-14.9992174c-.3606334 0-.6534442.2928108-.6534442.6534442v17.136932c0 .4558457-.5836652.6462706-.8523468.2771594l-12.9293254-17.7388571c-.1499922-.2067283-.3906318-.3286785-.6462707-.3286785h-14.26556003c-.35672052 0-.64561849-.288898-.64561849-.6456185v-25.11781993c0-.3580248.29020225-.64822705.64822705-.64822705h44.33246957c.3612855 0 .6547485.29346295.6547485.65474845zm2.6137767-29.0306593h-50.86299849c-.3612855 0-.65409631.29346295-.65409631.65409631v73.69180739c0 .3612855.29281081.6540963.65409631.6540963h17.28757629c.3560684 0 .6443142-.2882458.6443142-.6443142v-17.3012712c0-.3919361.5008435-.5549711.7310488-.2386832l13.0584492 17.9162391c.1226023.1689042.3188964.2680295.526929.2680295h18.614681c.3612855 0 .6540963-.2928108.6540963-.6540963v-73.69180739c0-.36063336-.2928108-.65409631-.6540963-.65409631z"
              fill="currentColor"
              fill-rule="evenodd"
              />
          </svg>
        <% end %>
        event.
      </p>

      <%= link_to "Contact us", "mailto://hi@rubybanitsa.com", class: "link-secondary text-white/70" %>
    </div>
  <% end %>
</footer>
