<!DOCTYPE html>
<html>
  <head>
    <title><%= yield :title %>Ruby Banitsa</title>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width">

    <%= yield :head %>

    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <script src="//twemoji.maxcdn.com/2/twemoji.min.js?2.5"></script>
  </head>

  <body>
    <div class="content">
      <nav class="direction">
        <%= yield :left %>
        <%= yield :right %>
      </nav>

      <%= yield %>
    </div>

    <nav class="sidebar">
      <div class="container sticky">
        <%= link_to root_path, class: :logo do %>
          <%= image_tag "logo.png" %>
        <% end %>

        <section id="about">
          <p>
            Ruby Banitsa is an event filled with Ruby and Banitsa. We get
            together in Sofia, Bulgaria, nom some fresh Banitsa and talk. All
            this in a casual setting.
          </p>
        </section>

        <%= link_to "Slack ðŸŽ¤", slack_url, class: :item %>
        <%= link_to "Twitter ðŸ˜¹", twitter_url, class: :item %>
        <%= link_to "Facebook ðŸ¿", facebook_url, class: :item %>
        <%= link_to "Meetup ðŸ“¢", meetup_url, class: :item %>

        <footer>
          <p>Munching together since 2017.</p>
        </footer>
      </div>

      <% if admin? %>
        <%= link_to "Edit", admin_path_for_current_page, class: "admin-link", "data-turbolinks": false %>
      <% end %>
    </nav>
  </body>
</html>
