<!DOCTYPE html>
<html>
  <head>
    <title><%= yield :title %>Ruby Banitsa</title>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width">

    <%= yield :head %>

    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <script src="//twemoji.maxcdn.com/2/twemoji.min.js?2.5"></script>
  </head>

  <body>
    <nav class="sidebar">
      <div class="container sticky">
        <%= link_to root_path do %>
          <%= image_tag 'logo.png', class: 'logo' %>
        <% end %>

        <section id="about">
          <p>
            Ruby Banitsa is an event filled with Ruby and Banitsa. We get
            together in Sofia, Bulgaria, nom some fresh Banitsa and talk. All
            this in a casual setting.
          </p>
        </section>

        <%= link_to 'Twitter ðŸ˜¹', 'https://twitter.com/@rubybanitsa', class: 'item' %>
        <%= link_to 'Facebook ðŸ¿', 'https://fb.me/rubybanitsa', class: 'item' %>
        <%= link_to 'Meetup ðŸ“¢', 'https://www.meetup.com/Ruby-Banitsa', class: 'item' %>

        <footer>
          <p>Munching together since 2017.</p>
        </footer>
      </div>
    </nav>

    <div class="content">
      <%= yield %>
    </div>
  </body>
</html>
